Repository brendadeeznuts1111/alchmenyrun, changes with the owners that .github/CODEOWNERS names for each.
All owners: @brendadeeznuts1111, @alice.smith, @charlie.brown, @diana.prince, @frank.taylor, @infra_dev1, @infra_dev2, @provider_dev1, @doc_writer1, @qa_analyst1

.github/CODEOWNERS:

# RFC Process (Alchemist Core Council) - Lead: @brendadeeznuts1111
# Telegram: @brendadeeznuts1111 (ID: 123456789)
# Email: Brendan.Dee@cloudflare.com [SCOPE LEAD - Brendan Dee, Executive Director, cloudflare.com]
# CODEOWNERS: exec.lead.pr.blk.gh@cloudflare.com (executive PR reviews, blocker priority)
rfcs/* @brendadeeznuts1111 @alice.smith @charlie.brown @diana.prince @frank.taylor
micro-rfc-* @brendadeeznuts1111 @alice.smith @charlie.brown @diana.prince @frank.taylor

# Project Alchemist - CODEOWNERS Configuration
# This file automatically requests reviews from the appropriate teams based on file paths

# Global fallback - Leadership team for strategic files
* @brendadeeznuts1111

# Infrastructure Team (Alchemist Core Infra) - Lead: @alice.smith
# Telegram: @alice_smith (ID: 987654321)
# Email: Alice.Smith@infra.cloudflare.com [INFRA LEAD - Alice Smith, Engineering Manager, infra.cloudflare.com]
# CODEOWNERS: infra.lead.pr.p0.gh@cloudflare.com (infra PR reviews, P0 priority)
# Team: @infra_dev1 (ID: 111222333) | Dev1.Senior@infra.cloudflare.com [INFRA SENIOR - Dev1 Senior, Senior Engineer, infra.cloudflare.com]
# CODEOWNERS: infra.senior.pr.p1.gh@cloudflare.com (infra PR reviews, P1 priority)
# Team: @infra_dev2 (ID: 444555666) | Dev2.Junior@infra.cloudflare.com [INFRA JUNIOR - Dev2 Junior, Engineer, infra.cloudflare.com]
# CODEOWNERS: infra.junior.pr.p2.gh@cloudflare.com (infra PR reviews, P2 priority)
packages/@alch/queue/* @alice.smith @infra_dev1
packages/@alch/tunnel/* @alice.smith @infra_dev2
packages/@alch/blocks/* @alice.smith @infra_dev2
packages/@alch/bun-runtime/* @alice.smith @infra_dev1
packages/@alch/cli/* @alice.smith @infra_dev1
src/backend/* @alice.smith @infra_dev2
src/frontend/* @alice.smith @infra_dev2
.github/workflows/* @alice.smith @infra_dev1
.github/actions/* @alice.smith @infra_dev1
scripts/* @alice.smith @infra_dev1

# Resource Provider Team (Alchemist Integrations Hub) - Lead: @charlie.brown
# Telegram: @charlie_brown (ID: 777888999)
# Email: Charlie.Brown@integrations.cloudflare.com [PROVIDER LEAD - Charlie Brown, Integration Manager, integrations.cloudflare.com]
# CODEOWNERS: integrations.lead.pr.p1.gh@cloudflare.com (provider PR reviews, P1 priority)
# Team: @provider_dev1 (ID: 000111222) | Provider.Senior@integrations.cloudflare.com [PROVIDER SENIOR - Provider Senior, Senior Integration Engineer, integrations.cloudflare.com]
# CODEOWNERS: integrations.senior.pr.p2.gh@cloudflare.com (provider PR reviews, P2 priority)
alchemy/src/cloudflare/* @charlie.brown @provider_dev1
alchemy/src/docker/* @charlie.brown @provider_dev1
alchemy/src/github/* @charlie.brown @provider_dev1
alchemy/src/aws/* @charlie.brown @provider_dev1
alchemy/src/gcp/* @charlie.brown @provider_dev1
alchemy/src/neon/* @charlie.brown @provider_dev1
alchemy/src/vercel/* @charlie.brown @provider_dev1

# Documentation Team (Alchemist Knowledge Base) - Lead: @frank.taylor
# Telegram: @frank_taylor (ID: 333444555)
# Email: Frank.Taylor@docs.cloudflare.com [DOCS LEAD - Frank Taylor, Documentation Manager, docs.cloudflare.com]
# CODEOWNERS: docs.lead.pr.p2.gh@cloudflare.com (docs PR reviews, P2 priority)
# Team: @doc_writer1 (ID: 666777888) | Writer.Senior@docs.cloudflare.com [DOCS SENIOR - Writer Senior, Senior Technical Writer, docs.cloudflare.com]
# CODEOWNERS: docs.senior.pr.p3.gh@cloudflare.com (docs PR reviews, P3 priority)
docs/* @frank.taylor @doc_writer1
examples/* @frank.taylor @doc_writer1
examples/cloudflare-worker-loader/* @frank.taylor @doc_writer1
examples/simple-chat/* @frank.taylor @doc_writer1
examples/mcp/* @frank.taylor @doc_writer1
README.md @frank.taylor @doc_writer1
CONTRIBUTING.md @frank.taylor @doc_writer1
QUICK_START.md @frank.taylor @doc_writer1
COMMANDS.md @frank.taylor @doc_writer1
ROADMAP.md @frank.taylor @doc_writer1
LICENSE @frank.taylor @doc_writer1

# Quality & Testing Team (Alchemist Quality Gate) - Lead: @diana.prince
# Telegram: @diana_prince (ID: 999000111)
# Email: Diana.Prince@quality.cloudflare.com [QA LEAD - Diana Prince, Quality Assurance Manager, quality.cloudflare.com]
# CODEOWNERS: qa.lead.pr.p1.gh@cloudflare.com (qa PR reviews, P1 priority)
# Team: @qa_analyst1 (ID: 222333444) | QA.Senior@quality.cloudflare.com [QA SENIOR - QA Senior, Senior QA Engineer, quality.cloudflare.com]
# CODEOWNERS: qa.senior.pr.p2.gh@cloudflare.com (qa PR reviews, P2 priority)
src/__tests__/* @diana.prince @qa_analyst1
**/*.test.ts @diana.prince @qa_analyst1
**/*.test.js @diana.prince @qa_analyst1
**/*.spec.ts @diana.prince @qa_analyst1
vitest.config.ts @diana.prince @qa_analyst1
.vitest.config.ts @diana.prince @qa_analyst1
**/test-setup.* @diana.prince @qa_analyst1

# Configuration files (Infrastructure Team ownership)
package.json @alice.smith @infra_dev1
bun.lock @alice.smith @infra_dev1
bunfig.toml @alice.smith @infra_dev1
tsconfig.json @alice.smith @infra_dev2
**/tsconfig.json @alice.smith @infra_dev2
tailwind.config.js @alice.smith @infra_dev2
postcss.config.js @alice.smith @infra_dev2
.env.example @alice.smith @infra_dev1

# Templates and configuration (Documentation Team ownership)
.github/ISSUE_TEMPLATE/* @frank.taylor @doc_writer1
.github/PULL_REQUEST_TEMPLATE.md @frank.taylor @doc_writer1
.github/dependabot.yml @alice.smith @infra_dev1

# Core Alchemy framework (Infrastructure Team ownership)
alchemy.run.ts @alice.smith @infra_dev2
alchemy.run.js @alice.smith @infra_dev2
src/* @alice.smith @infra_dev2

# Scope System (New Feature) - Infrastructure Team ownership
# Contact: Infrastructure Team - Alice.Smith@infra.cloudflare.com [INFRA LEAD - Alice Smith, Engineering Manager, infra.cloudflare.com]
# Telegram: @alice_smith (ID: 987654321) | @infra_dev1 (ID: 111222333) | @infra_dev2 (ID: 444555666)
# CODEOWNERS: infra.lead.pr.p0.gh@cloudflare.com (scope system PR reviews, P0 critical)
# Cross-team: docs.lead.pr.p2.gh@cloudflare.com [DOCS LEAD - Frank Taylor, Documentation Manager, docs.cloudflare.com] | qa.lead.pr.p1.gh@cloudflare.com [QA LEAD - Diana Prince, Quality Assurance Manager, quality.cloudflare.com]
src/scope/* @alice.smith @infra_dev2
scripts/scope-*.ts @alice.smith @infra_dev2
SCOPE_DEPLOYMENT_CHECKLIST.md @alice.smith @infra_dev2 @frank.taylor
.github/workflows/scope-cleanup.yml @alice.smith @infra_dev1 @diana.prince

# Cross-functional files (require multiple team approvals)
CLAUDE.md @brendadeeznuts1111 @alice.smith @charlie.brown @diana.prince @frank.taylor
.github/CODEOWNERS @brendadeeznuts1111 @alice.smith @charlie.brown @diana.prince @frank.taylor
.github/workflows/deploy.yml @alice.smith @infra_dev1 @diana.prince @qa_analyst1
.github/workflows/ci-matrix.yml @alice.smith @infra_dev1 @diana.prince @qa_analyst1

# Strategic files (Leadership approval required)
LICENSE @brendadeeznuts1111 @frank.taylor
.github/FUNDING.yml @brendadeeznuts1111
.github/SECURITY.md @brendadeeznuts1111 @charlie.brown @diana.prince

test: Add safe email routing test script
  package.json
  scripts/test-email-routing.ts
Owners: @alice.smith, @infra_dev1

feat: Implement Phase-6 Email Orchestration Infrastructure
  .github/rfc006/dashboard.json
  .github/rfc006/phase-6-deployment.yml
  .github/rfc006/policies/routing.rego
  .github/rfc006/schema.sql
  .github/rfc006/worker.js
  .rfc/ALC-RFC-006/lifecycle.md
  package.json
  scripts/bootstrap-phase6.sh
  tgk/bin/tgk.js
  tgk/commands/ai.ts
  tgk/commands/orchestrate.ts
  tgk/docs/enhanced-email-orchestration.md
  workers/tgk-email-orchestrator/index.ts
  workers/tgk-email-orchestrator/wrangler.toml
Owners: @brendadeeznuts1111, @alice.smith, @infra_dev1

feat: Initialize Phase-6 email orchestration feature branch
  .github/rfc006/phase-6-deployment.yml
  tgk/commands/orchestrate.ts
Owners: @brendadeeznuts1111

feat: Complete Phase-6 Email Orchestration bootstrap
  .github/PULL_REQUEST_TEMPLATE.md
  .github/rfc006/schema-init.sql
  .rfc/ALC-RFC-006/lifecycle.md
  .rfc/ALC-RFC-006/metadata.yml
  scripts/bootstrap-phase6.sh
  workers/tgk-email-orchestrator/.wrangler/state/v3/d1/miniflare-D1DatabaseObject/8a1ef8ce0bf85b2a48ce239019097e89a35cb0825b32f136016d18ee2e8eb7fc.sqlite
  workers/tgk-email-orchestrator/.wrangler/state/v3/d1/miniflare-D1DatabaseObject/8a1ef8ce0bf85b2a48ce239019097e89a35cb0825b32f136016d18ee2e8eb7fc.sqlite-shm
  workers/tgk-email-orchestrator/.wrangler/state/v3/d1/miniflare-D1DatabaseObject/8a1ef8ce0bf85b2a48ce239019097e89a35cb0825b32f136016d18ee2e8eb7fc.sqlite-wal
  workers/tgk-email-orchestrator/wrangler.toml
Owners: @frank.taylor, @doc_writer1, @brendadeeznuts1111, @alice.smith, @infra_dev1

docs: Update lifecycle dashboard - ready for email routing rule
  .rfc/ALC-RFC-006/lifecycle.md
Owners: @brendadeeznuts1111

feat: Phase-6 Email Orchestration - FULLY OPERATIONAL
  .rfc/ALC-RFC-006/lifecycle.md
Owners: @brendadeeznuts1111

fix: Correct database configuration to match deployed resources
  .rfc/ALC-RFC-006/metadata.yml
  scripts/bootstrap-phase6.sh
  tgk/bin/tgk.js
  tgk/commands/ai.ts
  tgk/commands/issue.ts
  tgk/email/.eslintrc.js
  tgk/email/.prettierrc
  tgk/email/README.md
  tgk/email/action-examples.ts
  tgk/email/examples.ts
  tgk/email/index.ts
  tgk/email/integration.ts
  tgk/email/kinja-analyzer.ts
  tgk/email/kinja-enhanced-analyzer.ts
  tgk/email/kinja-formatter.ts
  tgk/email/kinja-learning.ts
  tgk/email/kinja-metrics.ts
  tgk/email/kinja-orchestrator.ts
  tgk/email/package.json
  tgk/email/temporal-engine.ts
  tgk/email/tests.ts
  tgk/email/tsconfig.json
  tgk/templates/telegram-card/rfc-status-card.jinja2
  tgk/utils/ui.js
  workers/tgk-email-orchestrator/wrangler.toml
Owners: @brendadeeznuts1111, @alice.smith, @infra_dev1, @frank.taylor, @doc_writer1, @infra_dev2
